.pagination {
  display: flex;
  justify-content: end;
  column-gap: 10px;
  margin-bottom: 95px;
}

.pageButton {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  line-height: 16px;
  color: #3D3D3D;
  cursor: pointer;
}

.pageButton:hover {
  background-color: #46A35850;
}

.pageButton.active {
  background-color: #46A358;
  border-color: #46A358;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  pointer-events: none;
  color: #FFFFFF;
}

.pageButton.active path {
  stroke: #FFFFFF;
}

.pageButton.disabled {
  pointer-events: none;
  background-color: #b3b3b3;
}