.blogpost {
  margin-top: 35px;
  margin-bottom: 100px;
}

.breadcrumbs {
  margin-bottom: 35px;
}

.blogHeader {
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-size: 32px;
}

.date {
  font-size: 16px;
  color: #a5a5a5;
}

.imageContainer {
  float: inline-end;
  padding-left: 20px;
  padding-bottom: 20px;
}

.description {
  line-height: 1.5;
  text-align: justify;
  text-justify: auto;
}