.orderDetails {
  display: flex;
  flex-direction: column;
  width: 405px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  padding-right: 16px;
  padding-bottom: 11px;
  border-bottom: 0.3px solid #46A35850;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #3D3D3D;
}

.title {
  margin: 0;
  margin-bottom: 21px;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #3D3D3D;
}

.products {
  margin-bottom: 17px;
}

.products ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.productCard {
  display: grid;
  align-items: center;
  grid-template-columns: 240px auto auto;
  box-sizing: border-box;
  width: 405px;
  height: 70px;
  padding-right: 16px;
  background-color: #FBFBFB;
}

.productCard .product {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: auto auto;
  row-gap: 5px;
  text-decoration: none;
}

.productCard .productPhotoWrapper {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
  overflow: hidden;
  grid-row-start: 1;
  grid-row-end: 3;
}

.productCard .productPhoto {
  width: 70px;
  height: 80px;
}

.productCard .productTitle {
  align-self: end;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #3D3D3D;
}

.productCard .productSKU {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #727272;
  margin: 0;
}

.productCard .productSKU .greyColored {
  color: #A5A5A5;
}

.productCard .quantity {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #727272;
}

.productCard .total {
  justify-self: end;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: #46A358;
}

.orderTotalInfo {
  align-self: end; 
  width: 321px;
  margin-bottom: 47px;
}

.orderTotalInfo .couponLink {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #3D3D3D;
  text-align: right;
}

.orderTotalInfo .couponLink a {
  font-weight: 500;
  color: #46A358;
  text-decoration: none;
}

.orderTotalInfo .totalInfoRow {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: #3D3D3D;
}

.orderTotalInfo .totalInfoRow b {
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
}

.orderTotalInfo .totalInfoRow:nth-of-type(1) {
  margin-bottom: 15px;
}

.orderTotalInfo .totalInfoRow:nth-of-type(2) {
  margin-bottom: 21px;
}

.orderTotalInfo .totalInfoRow:nth-of-type(3) {
  margin-bottom: 8px;
}

.shippingInfo {
  display: flex;
  flex-direction: column;
  max-height: 16px;
  overflow: hidden;
  transition: max-height 150ms linear;
}

.shippingInfo.open {
  max-height: 75px;
}

.shippingInfo .showButton {
  width: fit-content;
  align-self: end;
  padding: 0;
  border: none;
  background: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #46A358;
  cursor: pointer;
}

.shippingInfo .shippingText {
  margin: 0;
  margin-top: 11px;
  font-size: 13px;
}
.orderTotalInfo .totalRow {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 0.3px solid #46A35850;
}

.orderTotalInfo .totalRow b {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #3D3D3D;
}

.orderTotalInfo .totalRow .greenColored {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: #46A358;
}

.paymentMethod {
  align-self: end;
  margin-bottom: 50px;
}

.paymentMethod .title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #3D3D3D;
}

.paymentMethod .radioButton {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 321px;
  height: 45px;
  padding: 0 11px;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  accent-color: #46A358;
  color: #3D3D3D;
  cursor: pointer;
}

.paymentMethod .radioButton:not(:nth-of-type(3)) {
  margin-bottom: 15px;
}

.paymentMethod .radioButton input {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 10px;
}

.paymentMethod .radioButton:has(input[type="radio"]:checked) {
  border-color: #46A358;
}

.paymentMethod .radioButton:has(input[type="radio"]:disabled) {
  border-color: #E5E5E5;
  color: #ACACAC;
  cursor: default;
}

.paymentMethod .paymentOptionsImg {
  width: 224px;
  height: 26px;
}

.orderButton {
  align-self: end;
  width: 321px;
}

.orderButton button {
  box-sizing: border-box;
  width: 321px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #46A358;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  color: #FFFFFF;
  cursor: pointer;
}