.checkoutForm {
  width: 722px;
}

.heading {
  margin: 0;
  margin-bottom: 21px;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #3D3D3D;
}

.checkoutForm form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.row {
  display: flex;
  column-gap: 22px;
}

.addressCheckboxField {
  position: relative;
  margin-bottom: 24px;
  padding-left: 21px;
}

.addressCheckboxField input {
  display: none;
}

.addressCheckboxField .customCheckbox {
  position: absolute;
  top: 2px;
  left: 4px;
  cursor: pointer;
}

.addressCheckboxField .customCheckbox::before {
  position: absolute;
  content: "";
  top: 0;
  right: -10px;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 2px solid #46A358;
  border-radius: 100%;
}

.addressCheckboxField input[type="checkbox"]:checked + .customCheckbox::after {
  position: absolute;
  content: "";
  top: 4px;
  right: -6px;
  box-sizing: border-box;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #46A358;
}

.addressCheckboxField label {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  color: #3D3D3D;
  cursor: pointer;
}

.orderNotesField {
  width: 350px;
}

.orderNotesField label {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: #3D3D3D;
}

.orderNotesField textarea {
  box-sizing: border-box;
  width: 350px;
  height: 152px;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  font-family: 'Cera Pro';
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  resize: none;
}

.orderNotesField textarea::placeholder {
  color: #A5A5A5;
}

.field label {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: #3D3D3D;
}

.field input {
  box-sizing: border-box;
  width: 350px;
  height: 40px;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  font-family: 'Cera Pro';
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.field input::placeholder {
  color: #A5A5A5;
}

.asterisk {
  position: relative;
  top: 4px;
  left: 3px;
  font-size: 22px;
  font-weight: 400;
  line-height: 15px;
  color: #F03800;
}

input.noLabelInput {
  margin-top: 30px;
}