.filter {
  box-sizing: border-box;
  width: 310px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  background-color: #FBFBFB;
}

.filter h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.categories {
  margin-bottom: 35px;
}

.priceRange {
  margin-bottom: 45px;
}

.priceRange h3 {
  margin-bottom: 20px;
}

.rangeInput {
  padding-left: 12px;
  margin-bottom: 5px;
}

.rangeInput .slider {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 209px;
  height: 36px;
}

.rangeInput .sliderThumb {
  width: 15px;
  height: 15px;
  border: 3px solid #FFFFFF;
  border-radius: 100%;
  background-color: #46A358;
}

/* override 'react-slider' default style */
.rangeInput .sliderThumbActive {
  outline: none;
}

.rangeInput .sliderTrack {
  height: 4px;
  background-color: black;
}

.rangeInput .sliderTrack:nth-of-type(1) {
  background-color: #46A35820;
}

.rangeInput .sliderTrack:nth-of-type(2) {
  background-color: #46A358;
}

.rangeInput .sliderTrack:nth-of-type(3) {
  background-color: rgba(70, 163, 88, 0.2);
}

.price {
  padding-left: 12px;
  margin-bottom: 15px;
}

.priceValue {
  font-weight: 700;
  color: #46A358;
}

.priceRange button {
  box-sizing: border-box;
  width: 90px;
  height: 35px;
  margin-left: 12px;
  border: none;
  border-radius: 6px;
  background-color: #46A358;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

.filter ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0 12px;
}

.filter .filterButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  color: #3D3D3D;
  cursor: pointer;
}

.filter .filterButton:not(.active):hover {
  text-decoration: underline;
}

.filter .filterButton.active {
  font-weight: 700;
  color: #46A358;
}