.shoppingCart {
  width: 782px;
}

.header {
  display: grid;
  grid-template-columns: 312px 146px 163px auto;
  margin-bottom: 10px;
  padding-bottom: 11px;
  border-bottom: 0.3px solid #46A35850;
}

.header b {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #3D3D3D;
}

.products {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0;
  padding: 0;
}