.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 10px;
  border-bottom: 0.3px solid #46A35880;
}

.logo {
  display: flex;
  align-items: center;
}

.mainNav {
  display: flex;
  align-items: center;
}

.mainNav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 25px;
  list-style-type: none;
}

.mainNav ul li {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.mainNav ul a {
  padding: 10px 0;
  text-decoration: none;
  font-size: 16px;
  color: #3D3D3D;
}

.mainNav ul a:not(.activeLink):hover {
  color: #46A358;
  transition: color 150ms ease-in-out;
}

.activeLink {
  font-weight: 700;
}

.activeLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 3px;
  background-color: #46A358;
}

.userBlock {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.cartLink {
  position: relative;
  text-decoration: none;
}

.cartLink .productsQuantity {
  position: absolute;
  right: 5px;
  top: 3px;
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
}

.searchLink:hover path,
.cartLink:hover path {
  fill: #46A358;
  transition: fill 150ms ease-in-out;
}

.loginButton {
  display: flex;
  align-items: center;
  column-gap: 4px;
  box-sizing: border-box;
  width: 100px;
  height: 35px;
  padding: 8px 17px;
  background-color: #46A358;
  border: 1px solid #46A358;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 150ms ease-in-out,
    color 150ms ease-in-out;
}

.loginButton:hover {
  background-color: rgba(70, 163, 80, 0.1);
  color: #46A358;
}

.loginButton:hover path {
  stroke: #46A358;
  transition: stroke 150ms ease-in-out;
}