.productInfo {
  width: 575px;
}

.productInfo h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 22px;
  color: #3D3D3D;
}

.priceAndReviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 13px;
  margin-bottom: 15px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);;
}

.price {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #46A358;
}

.reviewsBlock {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: #3D3D3D;
}

.reviewsBlock .reviews {
  margin-top: 3px;
}

.stars {
  display: flex;
  column-gap: 3px;
  margin-right: 10px;
}

.star {
  height: 16px;
}

.star.filled path {
  fill: #FFAC0C;
}

.oneStar > svg:nth-of-type(-n+1) > path {
  fill: #FFAC0C;
}

.twoStars > svg:nth-of-type(-n+2) > path {
  fill: #FFAC0C;
}

.threeStars > svg:nth-of-type(-n+3) > path {
  fill: #FFAC0C;
}

.fourStars > svg:nth-of-type(-n+4) > path {
  fill: #FFAC0C;
}

.fiveStars > svg:nth-of-type(-n+5) > path {
  fill: #FFAC0C;
}

.description {
  margin-bottom: 24px;
}

.description b {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  color: #3D3D3D;
}

.description p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727272;
}

.sizePicker {
  margin-bottom: 23px;
}

.sizePicker b {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  color: #3D3D3D;
}

.sizePicker .buttons {
  display: flex;
  column-gap: 10px;
}

.sizePicker .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  border-radius: 100%;;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #727272;
  cursor: pointer;
}

.sizePicker .buttons button.active {
  border-color: #46A358;
  font-size: 18px;
  font-weight: 700;
  color: #46A358;
}

.buyRow {
  display: flex;
  margin-bottom: 25px;
}

.amountPicker {
  display: flex;
  align-items: center;
  margin-right: 26px;
}

.amountPicker .amount {
  display: block;
  width: 22px;
  margin: 0 15px;
  text-align: center;
}

.amountPicker button {
  position: relative;
  box-sizing: border-box;
  width: 33px;
  height: 38px;
  border: none;
  border-radius: 29px;
  background: linear-gradient(180deg, #46a358 0%, #46a358 100%);
  cursor: pointer;
}

.amountPicker button.disabled {
  background: #A5A5A5;
  pointer-events: none;
  cursor: default;
}

.amountPicker .minusButton::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 12px;
  height: 2px;
  background-color: #FFFFFF;
}

.amountPicker .plusButton::before,
.amountPicker .plusButton::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 12px;
  height: 2px;
  background-color: #FFFFFF;
}

.amountPicker .plusButton::after {
  transform: rotate(90deg);
}

.buyRow .buyNowButton {
  box-sizing: border-box;
  width: 130px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #46A358;
  border-radius: 6px;
  background-color: #46A358;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 150ms ease-in-out,
    color 150ms ease-in-out;
}

.buyRow .buyNowButton:hover {
  background-color: rgba(70, 163, 80, 0.1);
  color: #46A358;
}

.buyRow .addToCartButton {
  box-sizing: border-box;
  width: 130px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #46A358;
  border-radius: 6px;
  background-color: #FFFFFF;
  transition: background-color 150ms ease-in-out;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #46A358;
  cursor: pointer;
}

.buyRow .addToCartButton:hover {
  background-color: #46A35810;
}

.buyRow .addToFavoritesButton {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #46A358;
  border-radius: 6px;
  background-color: #FFFFFF;
  transition: background-color 200ms ease-in;
  cursor: pointer;
}

.buyRow .addToFavoritesButton:hover {
  background-color: #46A35810;
}

.buyRow .addToFavoritesButton svg > path {
  stroke: #46A358;
}

.additionalInfo {
  margin-bottom: 18px;
}

.additionalInfo > div:not(:last-child) {
  margin-bottom: 10px;
}

.additionalInfo .name {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: #A5A5A5;
}

.additionalInfo .content {
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: #727272;
}

.shareLinks {
  display: flex;
  column-gap: 16px;
}

.shareLinks b {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  color: #3D3D3D;
}

.shareLinks ul {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.shareLink {
  opacity: 0.6;
  transition: opacity 150ms ease-in-out;
}

.shareLink:hover {
  opacity: 1;
}

.shareLink path {
  fill: #3D3D3D;
}