.productPhotos {
  display: flex;
  column-gap: 30px;
}

.side {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.side div {
  width: 100px;
  height: 100px;
  cursor: pointer;
  overflow: hidden;
}

.side div > img {
  width: 100%;
}

.main {
  position: relative;
  width: 444px;
  height: 444px;
  overflow: hidden;
}

.main img {
  width: 100%;
}

.main .searchIcon {
  position: absolute;
  top: 19px;
  right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #FFFFFF;;
}

.main .searchIcon svg {
  width: 18px;
  height: 18px;
}