.productPhotos {
  display: flex;
  column-gap: 30px;
}

.side {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.side .photoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  overflow: hidden;
}

.side .photoContainer.active {
  outline: 1px solid #46A358;
  border-radius: 5px;
}

.side .photoContainer > img {
  width: 100%;
}

.side .photoContainer[data-photo-id="1"] > img {
  filter: hue-rotate(70deg);
}

.side .photoContainer[data-photo-id="2"] > img {
  filter: hue-rotate(120deg);
}

.side .photoContainer[data-photo-id="3"] > img {
  filter: hue-rotate(240deg);
}

.main {
  position: relative;
  width: 444px;
  height: 444px;
  overflow: hidden;
}

.mainPhotoContainer.mint img {
  filter: hue-rotate(70deg);
}

.mainPhotoContainer.blue img {
  filter: hue-rotate(120deg);
}

.mainPhotoContainer.pink img {
  filter: hue-rotate(240deg);
}

.main img {
  width: 100%;
}

.main .searchIcon {
  position: absolute;
  top: 19px;
  right: 19px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #FFFFFF;;
}

.main .searchIcon svg {
  width: 18px;
  height: 18px;
}