.relatedProducts {

}

.header {
  padding-bottom: 12px;
  margin-bottom: 44px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.50);
}

.title {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: #46A358;
}

.productContainer {
  width: 1200px;
  min-height: 350px;
  overflow: hidden;
  position: relative;
}

.productsList {
  position: absolute;
  transition: 600ms ease-in-out;

  list-style-type: none;
  display: flex;
  /* column-gap: 25px; */
  width: fit-content;
  /* width: 100%; */
  min-height: 290px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.productsList > li {
  /* position: absolute;
  transition: left 600ms ease-out; */
}

.productsList > li:not(:nth-child(5n)) {
  margin-right: 25px;
}

.productsList > li > article {
  width: 220px;
}

.sliderButtons > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 0;
  padding: 0;
}

.sliderButtons button {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1.3px solid #46A358;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}

.sliderButtons button:hover {
  background-color: rgba(70, 163, 88, 0.15);
}

.sliderButtons button.active {
  background-color: #46A358;
  cursor: default;
  pointer-events: none;
}